<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>青岛润发建筑机械有限公司</title>
</head>
<body th:background="@{/images/background.jpg}" style="background-size:cover;">
<!--    <div style="position:fixed; left:0px; top:0px; width:100%; height:100%;">-->
<!--        <img src="images/background.jpg" width="100%" height="100%">-->
<!--    </div>-->
<!--background:url(' + @{/images/background.jpg} + ');-->
</body>
</html>